<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="flask" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\inetpub\wwwroot\sigueme\api\env\scripts\python.exe|c:\inetpub\wwwroot\sigueme\api\env\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
